* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, input:focus {
  outline: none;
  border: none;
  background: transparent;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.center {
  padding-left: calc(50% - 1200px / 2);
  padding-right: calc(50% - 1200px / 2);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header__top {
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: .7;
}

.header__contact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  font-weight: 600;
  margin-right: 42px;
  opacity: .7;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF5900;
  padding: 16px 28px;
  border: 1px solid #FF5900;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__button > svg {
  margin-right: 10px;
}

.header__button > svg > path {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__button:hover {
  background-color: #CA4600;
  border-color: #CA4600;
  color: #fff;
}

.header__button:hover > svg > path {
  stroke: #fff;
}

.header__middle {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.header__bottom {
  background-color: #fff;
  height: 80px;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.header__nav {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav > li {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__nav > li:hover > .dropdown {
  top: 79px;
  z-index: 0;
  -webkit-transition: top .3s, 1s z-index;
  transition: top .3s, 1s z-index;
}

.header__item {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__item:hover {
  color: #CA4600;
}

.header__item-select {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-select > img {
  margin-left: 4px;
}

.header__search {
  height: 24px;
  width: 24px;
  background-image: url("../img/search.svg");
}

.dropdown {
  position: absolute;
  z-index: -1;
  top: -140px;
  width: 352px;
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.1);
  -webkit-transition: top .4s;
  transition: top .4s;
}

.dropdown > li:not(:last-child) {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.dropdown__item {
  display: block;
  color: rgba(33, 33, 33, 0.5);
  padding: 16px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.dropdown__item:hover {
  color: rgba(33, 33, 33, 0.8);
}

.dropdown__img {
  float: right;
}

.input__search {
  position: absolute;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  padding: 22px 0 22px 32px;
  width: 2000px;
  top: 82px;
  right: -1429px;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.input__search > input {
  padding-top: 8px;
  padding-bottom: 10px;
  line-height: 16px;
  opacity: .8;
  border-bottom: 1px solid rgba(33, 33, 33, 0.5);
  width: 571px;
}

.nav-mini {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.nav-mini__menu:hover > .nav-mini__menu_orange {
  fill: #FF5900;
}

.nav-mini__menu_orange {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.nav-mini__logo {
  display: none;
}

.nav-mini__block {
  padding: 40px;
  padding-top: 70px;
  position: absolute;
  top: 79px;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.nav-mini__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav-mini__list li {
  margin-bottom: 14px;
}

.nav-mini__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav-mini__item:hover {
  color: #FF5900;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
}

.close:hover > .close_orange {
  fill: #FF5900;
}

.close_orange {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.dropdown-mini__heading {
  display: block;
  margin-bottom: 20px;
}

.dropdown-mini__list {
  width: 220px;
}

.dropdown-mini__item {
  text-transform: uppercase;
  color: rgba(33, 33, 33, 0.5);
  -webkit-transition: color .3s;
  transition: color .3s;
}

.dropdown-mini__item:hover {
  color: rgba(33, 33, 33, 0.8);
}

.dropdown-mini__img {
  float: right;
}

.top {
  height: 716px;
  background-image: url("../img/bg-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 170px;
  margin-top: 187px;
}

.top__heading {
  font-size: 68px;
  line-height: 75px;
  font-weight: 700;
  color: #fff;
  width: 780px;
  margin-bottom: 28px;
}

.top__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  width: 690px;
  margin-bottom: 52px;
}

.top__button {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 40px;
  border-radius: 50px;
}

.top__button_orange {
  background-color: #FF5900;
  border: 1px solid #FF5900;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-right: 32px;
}

.top__button_orange:hover {
  background-color: #CA4600;
  border-color: #CA4600;
}

.top__button_white {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.top__button_white:hover {
  background-color: #CA4600;
  border-color: #CA4600;
}

.packages {
  padding-top: 120px;
}

.packages__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 60px;
}

.packages__title_orange {
  color: #FF5900;
}

.packages__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[3];
      grid-template-columns: repeat(3, 360px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: calc(50% - 1200px / 2);
  padding-right: calc(50% - 1200px / 2);
}

.packages__item {
  height: 487px;
  width: 360px;
  padding: 40px 32px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.packages__item_1 {
  background-image: url("../img/package-1.png");
}

.packages__item_2 {
  background-image: url("../img/package-2.png");
}

.packages__item_3 {
  background-image: url("../img/package-3.png");
}

.packages__border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.packages__heading {
  padding-bottom: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.packages__heading_2 {
  max-width: 284px;
}

.packages__heading_3 {
  max-width: 212px;
}

.packages__text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  max-width: 210px;
}

.packages__text_bottom {
  max-width: 250px;
  padding-top: 0;
  padding-bottom: 36px;
}

.packages__text_bold {
  font-weight: 700;
}

.packages__description {
  max-width: 286px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  opacity: .5;
  padding-top: 20px;
  padding-bottom: 28px;
}

.packages__button {
  display: block;
  text-align: center;
  border: 1px solid #FF5900;
  border-radius: 50px;
  padding: 16px 28px;
  color: #FF5900;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.packages__button:hover {
  border-color: #CA4600;
  background-color: #CA4600;
  color: #fff;
}

.advantages {
  padding-top: 121px;
  padding-bottom: 135px;
}

.advantages__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 75px;
}

.advantages__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 70px;
  grid-column-gap: 108px;
  text-align: center;
}

.advantages__text {
  margin-top: 22px;
  line-height: 22px;
}

.solutions {
  background-color: #f8f8f8;
  padding-top: 120px;
  padding-bottom: 116px;
  padding-left: calc(50% - 1200px / 2);
  padding-right: calc(50% - 1200px / 2);
}

.solutions__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 61px;
}

.solutions__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[3];
      grid-template-columns: repeat(3, 360px);
  grid-row-gap: 39px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solutions__item {
  border: 1px solid rgba(51, 51, 51, 0.3);
}

.solutions__top {
  height: 118px;
  background-repeat: no-repeat;
  background-size: cover;
}

.solutions__top_1 {
  background-image: url("../img/solutions-1.png");
}

.solutions__top_2 {
  background-image: url("../img/solutions-2.png");
}

.solutions__top_3 {
  background-image: url("../img/solutions-3.png");
}

.solutions__top_4 {
  background-image: url("../img/solutions-4.png");
}

.solutions__top_5 {
  background-image: url("../img/solutions-5.png");
}

.solutions__top_6 {
  background-image: url("../img/solutions-6.png");
}

.solutions__heading {
  display: block;
  margin: 34px auto 20px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  width: 300px;
  height: 50px;
}

.solutions__text {
  display: block;
  width: 312px;
  height: 100px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  opacity: .5;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.solutions__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0 10px 24px;
}

.solutions__price {
  font-size: 14px;
  line-height: 20px;
  margin-left: 15px;
}

.solutions__price_orange {
  color: #FF5900;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.solutions__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 0 35px 24px;
  height: 61px;
}

.solutions__discount > img {
  margin-right: 12px;
}

.solutions__old-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: line-through;
  opacity: .5;
}

.solutions__super {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.4px;
}

.solutions__details {
  position: relative;
  display: block;
  color: #FF5900;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-right: 60px;
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.solutions__details:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.solutions__details > img {
  position: absolute;
  top: 4px;
  right: -35px;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #333;
}

.footer__top {
  padding-top: 100px;
  padding-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[4];
      grid-template-columns: repeat(4, 200px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__heading {
  margin-bottom: 24px;
}

.footer__logo {
  margin-bottom: 62px;
}

.footer__heading {
  color: #fff;
  opacity: .5;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer__text {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer__text_transparent {
  opacity: .5;
}

.footer__text_underline {
  border-bottom: 1px solid #fff;
  margin-left: 4px;
}

.footer__contacts {
  margin-top: 21px;
  margin-bottom: 12px;
}

.footer__social {
  margin-top: 28px;
}

.footer__social > a:first-child {
  margin-right: 20px;
}

.footer__bottom {
  height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__end, .footer-mini__end {
  color: #fff;
  opacity: .3;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.footer-mini__end {
  display: none;
}

@media (max-width: 1250px) {
  .center {
    padding-left: calc(50% - 1090px / 2);
    padding-right: calc(50% - 1090px / 2);
  }
}

@media (max-width: 1108px) {
  .center {
    padding-left: calc(50% - 800px / 2);
    padding-right: calc(50% - 800px / 2);
  }
  .header__logo {
    height: 36px;
  }
  .header__text {
    font-size: 12px;
  }
  .header__phone {
    font-size: 14px;
    margin-right: 20px;
  }
  .header__button {
    font-size: 12px;
    padding: 10px 0;
    width: 160px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__button > svg {
    width: 15px;
  }
  .header__nav {
    display: none;
  }
  .nav-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top {
    height: 660px;
    background-position: -386px 0;
  }
  .top__heading {
    font-size: 60px;
    line-height: 68px;
    width: 700px;
  }
  .packages__title {
    text-align: center;
  }
  .packages__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .packages__item {
    width: 100%;
    padding-top: 70px;
  }
  .packages__item_1 {
    background-position-y: -278px;
  }
  .packages__item_2 {
    background-position-y: -426px;
  }
  .packages__item_3 {
    background-position-y: -138px;
  }
  .packages__heading {
    height: auto;
    font-size: 20px;
    max-width: 100%;
  }
  .packages__text {
    height: 88px;
    max-width: 100%;
    font-size: 18px;
  }
  .packages__description {
    font-size: 16px;
    max-width: 340px;
  }
  .packages__button {
    display: inline;
    color: #fff;
    background-color: #FF5900;
    border-color: #FF5900;
  }
  .packages__button:hover {
    background-color: #CA4600;
    border-color: #CA4600;
  }
  .advantages__title {
    text-align: center;
  }
  .advantages__box {
    grid-column-gap: 88px;
  }
  .solutions {
    padding-left: calc(50% - 800px / 2);
    padding-right: calc(50% - 800px / 2);
  }
  .solutions__title {
    text-align: center;
  }
  .solutions__box {
    -ms-grid-columns: (360px)[2];
        grid-template-columns: repeat(2, 360px);
  }
}

@media (max-width: 825px) {
  .center {
    padding-left: calc(50% - 700px / 2);
    padding-right: calc(50% - 700px / 2);
  }
  .header__top {
    height: 80px;
  }
  .header__phone {
    margin-right: 0;
  }
  .header__button_hidden {
    display: none;
  }
  .header__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top {
    margin-top: 212px;
  }
  .top__button {
    width: 360px;
    text-align: center;
  }
  .top__button_orange {
    margin-bottom: 32px;
  }
  .solutions {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__top {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .footer__logo {
    height: 48px;
    width: 185px;
  }
  .footer__item_1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .footer__item_2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__item_3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer__item_4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media (max-width: 726px) {
  .center {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__top, .header__middle {
    display: none;
  }
  .close {
    top: 40px;
  }
  .nav-mini__logo {
    display: block;
  }
  .nav-mini__block {
    padding-top: 40px;
  }
  .nav-mini__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top {
    margin-top: 80px;
    padding-top: 150px;
    text-align: center;
    background-position: -554px 0;
  }
  .top__heading {
    font-size: 55px;
    line-height: 60px;
    width: 100%;
  }
  .top__text {
    width: 100%;
  }
  .top__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top__button_orange {
    margin-right: 0;
  }
  .packages__item {
    background-position-y: 0;
  }
  .advantages__box {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__item {
    max-width: 300px;
  }
  .solutions__title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .solutions__box {
    -ms-grid-columns: 360px;
        grid-template-columns: 360px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer__bottom {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 570px) {
  .packages__item {
    height: 540px;
  }
  .packages__heading {
    height: 78px;
  }
}

@media (max-width: 530px) {
  .footer__top {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
  }
  .footer__item {
    grid-column: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .footer__item_2 {
    width: 200px;
  }
}

@media (max-width: 445px) {
  .close {
    top: 20px;
  }
  .nav-mini__block {
    padding-top: 50px;
  }
  .top {
    padding-top: 130px;
  }
  .top__heading {
    font-size: 40px;
    line-height: 48px;
  }
  .top__button {
    width: 340px;
    font-size: 16px;
    line-height: 20px;
  }
  .packages {
    padding-top: 100px;
  }
  .packages__title {
    font-size: 36px;
    line-height: 44px;
  }
  .packages__item {
    height: 570px;
    background-position: 0 0;
  }
  .packages__heading {
    height: 103px;
  }
  .packages__button {
    display: block;
  }
  .advantages {
    padding-top: 100px;
  }
  .advantages__title {
    font-size: 36px;
    line-height: 44px;
  }
  .solutions {
    padding-top: 100px;
  }
  .solutions__title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 361px) {
  .top__heading {
    font-size: 36px;
    line-height: 44px;
  }
  .top__button {
    padding: 18px 20px;
    width: 290px;
  }
  .packages__title {
    font-size: 32px;
    line-height: 40px;
  }
  .advantages__title {
    font-size: 32px;
    line-height: 40px;
  }
  .solutions__title {
    font-size: 32px;
    line-height: 40px;
  }
  .solutions__top_1 {
    background-position-x: -12px;
  }
  .solutions__top_2 {
    background-position-x: -38px;
  }
  .solutions__top_3 {
    background-position-x: -7px;
  }
  .solutions__top_4 {
    background-position-x: -33px;
  }
  .solutions__top_5 {
    background-position-x: -24px;
  }
  .solutions__top_6 {
    background-position-x: -10px;
  }
  .solutions__box {
    -ms-grid-columns: 320px;
        grid-template-columns: 320px;
  }
}

@media (max-width: 341px) {
  .packages__item {
    height: 590px;
  }
  .packages__text_bottom {
    height: 100px;
  }
  .footer__bottom {
    height: auto;
  }
  .footer__hidden {
    display: none;
  }
  .footer-mini__end {
    display: block;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */