@import _vars.sass
    
* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Montserrat", "Arial", sans-serif
    font-size: 16px
    font-weight: 500
    color: $grayDark

html, body
    height: 100%

a
    text-decoration: none

ul
    list-style-type: none

.wrapper
    display: flex
    flex-direction: column
    height: 100%

.content
    flex: 1 0 auto

.center
    padding-left: calc(50% - 1200px / 2)
    padding-right: calc(50% - 1200px / 2)

.header
    position: absolute
    width: 100%
    z-index: 2
    &__top
        height: 104px
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid $border
        background-color: $white
    &__text
        font-weight: 400
        font-size: 14px
        line-height: 20px
        opacity: .7
    &__contact
        height: 100%
        display: flex
        align-items: center
    &__phone
        font-weight: 600
        margin-right: 42px
        opacity: .7
    &__button
        display: flex
        align-items: center
        color: $orange
        padding: 16px 28px
        border: 1px solid $orange
        border-radius: 50px
        transition: all .3s
        & > svg
            margin-right: 10px
        &:hover
            background-color: $orangeDark
            border-color: $orangeDark
            color: #fff
            & > svg > path
                stroke: #fff
    &__bottom
        background-color: $white
    &__nav
        position: relative
        height: 80px
        display: flex
        justify-content: space-between
        align-items: center
        & > li
            height: 100%
            display: inline-block
            align-self: baseline
            &:hover > .dropdown
                top: 80px
                z-index: 0
                transition: top .3s, 1s z-index
    &__item
        display: block
        text-transform: uppercase
        font-size: 14px
        line-height: 17px
        transition: color .3s
        &:hover
            color: $orangeDark
        &-select
            height: 100%
            display: flex
            align-items: center
            & > img
                margin-left: 4px

.dropdown
    position: absolute
    z-index: -1
    top: -139px
    width: 352px
    background-color: $white
    border: 1px solid $border
    transition: top .4s
    & > li:not(:last-child)
        border-bottom: 1px solid $border
    &__item
        display: block
        color: rgba(33, 33, 33, .5)
        padding: 16px
        text-transform: uppercase
        font-size: 14px
        line-height: 17px
        transition: color .3s
        &:hover
            color: rgba(33, 33, 33, .8)
    &__img
        float: right

.top
    height: 716px
    background-image: url("../img/bg-top.jpg")
    background-size: cover
    background-repeat: no-repeat
    padding-top: 170px
    margin-top: 184px
    &__heading
        font-size: 68px
        line-height: 75px
        font-weight: 700
        color: $white
        width: 780px
        margin-bottom: 28px
    &__text
        font-weight: 400
        font-size: 16px
        line-height: 22px
        color: $white
        width: 690px
        margin-bottom: 52px
    &__button
        display: inline-block
        font-weight: 400
        font-size: 18px
        line-height: 22px
        padding: 20px 40px
        border-radius: 50px
        &_orange
            background-color: $orange
            border: 1px solid $orange
            color: $white
            transition: all .3s
            margin-right: 32px
            &:hover
                background-color: $orangeDark
                border-color: $orangeDark
        &_white
            background-color: $transparent
            border: 1px solid $white
            color: $white
            transition: all .3s
            &:hover
                background-color: $orangeDark
                border-color: $orangeDark

.packages
    padding-top: 120px
    &__title
        font-weight: 700
        font-size: 38px
        line-height: 46px
        margin-bottom: 60px
        &_orange
            color: $orange
    &__box
        display: flex
        justify-content: space-between
    &__item
        width: 360px
        height: 487px
        padding: 40px 32px 0
        background-repeat: no-repeat
        background-size: cover
        &_1
            background-image: url("../img/package-1.png")
        &_2
            background-image: url("../img/package-2.png")
        &_3
            background-image: url("../img/package-3.png")
    &__heading
        padding-bottom: 28px
        margin-bottom: 20px
        border-bottom: 1px solid rgba(255, 255, 255, .2)
        font-weight: 700
        font-size: 18px
        line-height: 25px
        color: $white
    &__text
        font-size: 16px
        line-height: 22px
        color: $white
        &_border
            padding-bottom: 20px
            border-bottom: 1px solid rgba(255, 255, 255, .2)
        &_bold
            font-weight: 700
    &__description
        width: 279px
        height: 80px
        font-size: 14px
        line-height: 20px
        color: $white
        opacity: .5
        margin-top: 20px
        margin-bottom: 28px
    &__button
        display: block
        text-align: center
        border: 1px solid $orange
        border-radius: 50px
        padding: 16px 28px
        color: $orange
        margin-top: 36px
        transition: all .3s
        &:hover
            border-color: $orangeDark
            background-color: $orangeDark
            color: $white

.advantages
    padding-top: 121px
    padding-bottom: 135px
    &__title
        font-weight: 700
        font-size: 38px
        line-height: 46px
        margin-bottom: 75px
    &__box
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-row-gap: 70px
        grid-column-gap: 108px
        text-align: center
    &__text
        margin-top: 22px
        line-height: 22px

.solutions
    background-color: $bgLight
    padding-top: 120px
    padding-bottom: 116px
    &__title
        font-weight: 700
        font-size: 38px
        line-height: 46px
        margin-bottom: 61px
    &__box
        display: grid
        grid-template-columns: repeat(3, 360px)
        grid-row-gap: 39px
        justify-content: space-between
    &__item
        border: 1px solid rgba(51, 51, 51, .3)
    &__top
        height: 118px
        background-repeat: no-repeat
        background-size: cover
        &_1
            background-image: url("../img/solutions-1.png")
        &_2
            background-image: url("../img/solutions-2.png")
        &_3
            background-image: url("../img/solutions-3.png")
        &_4
            background-image: url("../img/solutions-4.png")
        &_5
            background-image: url("../img/solutions-5.png")
        &_6
            background-image: url("../img/solutions-6.png")
    &__heading
        display: block
        margin: 34px auto 20px
        text-align: center
        font-weight: 700
        font-size: 18px
        line-height: 25px
        text-transform: uppercase
        width: 300px
        height: 50px
    &__text
        display: block
        width: 312px
        height: 100px
        margin: 0 auto
        padding-bottom: 20px
        text-align: center
        font-size: 14px
        line-height: 20px
        opacity: .5
        border-bottom: 1px solid rgba(51, 51, 51, .2)
    &__cost
        display: flex
        align-items: center
        margin: 24px 0 10px 24px
    &__price
        font-size: 14px
        line-height: 20px
        margin-left: 15px
        &_orange
            color: $orange
            font-weight: 700
            font-size: 18px
            line-height: 20px
    &__discount
        display: flex
        align-items: start
        margin: 0 0 35px 24px
        height: 61px
        & > img
            margin-right: 12px
    &__old-price
        font-weight: 700
        font-size: 18px
        line-height: 22px
        text-decoration: line-through
        opacity: .5
    &__super
        font-size: 14px
        line-height: 20px
        letter-spacing: -0.4px
    &__details
        position: relative
        display: block
        color: $orange
        font-weight: 600
        font-size: 14px
        line-height: 17px
        float: right
        margin-right: 60px
        margin-bottom: 20px
        transition: transform .2s
        &:hover
            transform: scale(1.05)
        & > img
            position: absolute
            top: 4px
            right: -35px

.footer
    flex: 0 0 auto
    background-color: $gray
    &__top
        padding-top: 100px
        padding-bottom: 80px
        display: flex
        justify-content: space-between
    &__item
        max-width: 200px
    &__heading
        margin-bottom: 24px
    &__logo
        margin-bottom: 62px
    &__heading
        color: $white
        opacity: .5
        font-weight: 400
        font-size: 14px
        line-height: 20px
    &__text
        color: $white
        font-weight: 400
        font-size: 14px
        line-height: 24px
        &_transparent
            opacity: .5
        &_underline
            border-bottom: 1px solid $white
            margin-left: 4px
    &__contacts
        margin-top: 21px
        margin-bottom: 12px
    &__social
        margin-top: 28px
        & > a:first-child
            margin-right: 20px
    &__bottom
        height: 50px
        border-top: 1px solid rgba(255, 255, 255, .1)
        display: flex
        justify-content: space-between
        align-items: center
    &__end
        color: $white
        opacity: .3
        font-weight: 400
        font-size: 12px
        line-height: 14px